# --- ÉMULATEUR & JEU ---
*.gb
*.gbc
*.state
*.save
*.ram

# --- DONNÉES ET DATASETS ---
dataset/
logs/

# --- MODÈLES ---
runs/
models/
*.pt

!models/release/*.pt 

# --- PYTHON & SYSTEM ---
__pycache__/
*.pyc
.venv/
.DS_Store
.claude/